* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 1px solid red; */
    --diameterField: 30px;
    --diameterPiece: 30px;
}

body {
    display: flex;
    align-items: center;
    /*vertical*/
    justify-content: center;
    /*horizontal*/
    min-height: 100vh;
    background: #444;
}

.container {
    display: flex;
    background-color: #666;
    text-align: center;

    width: 100%;
    gap: 30px;
    padding: 30px;
    max-width: 1050px;
}
.side-bar {
    width: 280px;
    height: 720px;
    background-color: #888;
    padding: 1em;
}
.side-bar>*{
    margin-bottom: 1em;
}
#ctn-btn {
    display: flex;
    gap: 0.5em;
}
#ctn-btn button {
    flex: 1;
    padding: 0.3em 0.5em;
    font-size: 1em;
}
#ctn-timer, #ctn-counter {
    text-align: left;
}
p {
    display: inline;
}
#board {
    position: relative;
    width: 720px;
    height: 720px;
    background-color: #888;
}

.circle {
    position: absolute;
    width: var(--diameterField);
    height: var(--diameterField);
    border-radius: 50%;
    background-color: lightgray;
    border-color: black;
}
.circle.valid {
    background-color: gray;
}
.piece {
    position: absolute;
    width: var(--diameterPiece);
    height: var(--diameterPiece);
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Expand */
    }
    100% {
        transform: scale(1); /* Shrink back */
    }
}
.piece.selected {
    animation: pulse 1s infinite; /* Animate in a 1-second rhythm */
}
.piece.blue { background-color: blue; }
.piece.green { background-color: green; }