<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sternhalma</title>
    <link rel="stylesheet" href="../../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/euch.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <section class="side-bar">
            <h1>Sternhalma</h1>
            <div id="ctn-timer">
                <p  title="Timer will start when you make the first move.">Timer: </p>
                <p id="timer">0:00</p><br>
            </div>
            <div id="ctn-btn">
                <button id="startButton">Start</button>
                <button id="stopButton">Stop</button>
                <button id="resetButton">Reset</button>
            </div>
            <div id="ctn-counter">
                <p>Number of moves: </p>
                <p id="nrMoves">0</p>
            </div>
            <button onclick="test1()">Test1</button>
        </section>
        <div class="board" id="board"></div>
    </div>
    <script src="../../static/script.js"></script>
</body>
</html>
